<div class="columns is-multiline" ng-controller="charactersController" ng-init="info">
	<div class="loader" ng-show="loading"></div>

		<div class="column is-one-quarter" style="text-align:center;" ng-repeat="character in characters">
					<a href="#/character/{{character.id}}" >
		      <img  style="max-width:120px; max-height:120px" src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" alt="">

		        <p class="title is-5">{{character.name}}</p>
			</a>
		</div>
	
    </div>
</div>